@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --border: 214.3 31.8% 91.4%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.editor-highlight {
  background: #fff7ed;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

img {
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
